.cta{
  padding: 8px 16px;
  background-color: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;

  &-light {
    border: 1px rgba(40,40,40,1) solid;
    color: rgb(40,40,40);
  }

  &-light:hover {
    color: white;
    background-color: rgb(40,40,40);
    text-decoration: none;
  }
}
